{% extends "base.html" %}
{% load grupos %}
{% load static %}

{% block navbar %}
<nav class="bg-[var(--primary)] p-4 text-[var(--secondary)] p-4 flex justify-between">
  <ul class="flex space-x-6">
    {% if user.is_authenticated %}
        <!-- Menú privado según grupo -->
        {% if user|has_group:"Administrador" %}
            <li class="group relative">
                <span class="cursor-pointer">Admin ▾</span>
                <ul class="absolute hidden group-hover:block bg-[var(--focus)] p-2 rounded">
                    <li><a href="{% url 'crear_usuario' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Crear Usuarios</a></li>
                </ul>
            </li>
            <!-- Menú Cultivo -->
            <li class="group relative">
                <span class="cursor-pointer"> Ciclo Agricola ▾</span>
                <ul class="absolute hidden group-hover:block bg-[var(--focus)] p-2 rounded">
                    <li><a href="{% url 'compra_insumos' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Registrar Compras Insumos</a></li>                                        
                    <li><a href="{% url 'parametrizar_cultivo' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Cultivo , Actividad , insumo</a></li>
                    <li><a href="{% url 'planear_ciclo' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Planear ciclo de Cultivo</a></li>                                                            
                </ul>
            </li>            
            <!-- Menú programar -->
            <li class="group relative">
                <span class="cursor-pointer">Configurar ▾</span>
                <ul class="absolute hidden group-hover:block bg-[var(--focus)] p-2 rounded">
                    <li><a href="{% url 'crear_zonaagricola' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Crear zona Agricola</a></li>                                        
                    <li><a href="{% url 'crear_personal' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Crer Personal</a></li>                                                                                
                </ul>
            </li>  
            <!-- Menú  -->
            <li class="group relative">
                <span class="cursor-pointer">Consulta ▾</span>
                <ul class="absolute hidden group-hover:block bg-[var(--focus)] p-2 rounded">
                    <li><a href="{% url 'clima' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Consultar clima</a></li>                                        
                    <li><a href="{% url 'calendario_ciclo' %}" class="block whitespace-nowrap px-2 py-1 hover:bg-[var(--primary)]">Consultar calendario x ciclo</a></li>                                                            
                </ul>
            </li>            

        {% endif %}
    {% endif %}
  </ul>
  <ul class="flex space-x-4">
    {% if user.is_authenticated %}
        <li><a href="{% url 'bienvenida' %}" class="hover:underline ">Inicio</a></li> 
        <li class="text-m text-[var(--secondary)]">👤 {{ user.username }}</li>
        <li><a href="{% url 'password_change' %}" class="hover:underline">Cambiar contraseña</a></li>
        <li><a href="{% url 'logout' %}" class="hover:underline">Salir</a></li>
    {% endif %}
  </ul>
</nav>
<!-- Sub-barra -->
<!-- <div class="bg-gray-200 p-2 text-center text-lg font-semibold text-blue-800">
  {% block subnavbar_title %}{% endblock %}
</div> -->
{% endblock %}

{% block content %}
<div class="mt-6"> 
    {% block dashboard_content %}{% endblock %} 
</div> 
{% endblock %}
