<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Planeacion Agroplan{% endblock %}</title>
    {% load static %}
    <!-- Tailwind por CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Fuente Share Tech Mono -->
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gray-100 text-gray-900">

    <!-- Navbar -->
    {% block navbar %}
    <nav class="bg-[var(--primary)] p-4 text-[var(--secondary)] flex px-5">
    <ul class="flex space-x-4 justify-end w-full items-center">
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="hover:underline">Salir</a>
            {% else %}
                <a href="{% url 'login' %}" class="hover:underline font-bold">Login</a>
            {% endif %}
        </li>
    </ul>
    </nav>
    {% endblock %}


    <!-- Contenido dinámico -->
    <div class="container mx-auto p-1">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-[var(--primary)] text-[var(--secondary)] text-center p-4 mt-6">
        <p>© 2026 Ciclo Agricola - Mi planeador</p>
    </footer>

    {% block scripts %}{% endblock %}

</body>
</html>
