{% extends "base_dashboard.html" %}
{% block dashboard_content %}

<h2 class="text-xl font-bold mb-4 text-[var(--focus)]">Tus ciclos activos</h2>
<table class="w-full bg-white shadow rounded text-center py-1">
    <tr class="bg-green-100">
        <th class="align-middle">Cultivo</th>
        <th class="align-middle">Zona Agrícola</th>
        <th class="align-middle">Fecha Inicio</th>
        <th class="align-middle">Fecha Fin</th>
        <th class="align-middle">Registrado Por</th>
        <th class="align-middle"></th>
    </tr>
    {% for ciclo in ciclos %}
    <tr class="my-1 border-solid border-2">
        <td class="align-middle">{{ ciclo.id_cultivo }}</td>
        <td class="align-middle">{{ ciclo.id_zonaagricola }}</td>
        <td class="align-middle">{{ ciclo.fecha_inicio }}</td>
        <td class="align-middle">{{ ciclo.fecha_fin }}</td>
        <td class="align-middle">{{ ciclo.registrado_por }}</td>
        <td class="align-middle">
        <a href="{% url 'ajustar_ciclo' ciclo.id_ciclo %}"
            class="bg-[var(--primary)] hover:bg-[var(--focus)] text-[var(--secondary)] px-2 py-1 rounded my-2">
            Detalles
        </a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}