{% extends "base.html" %}
{% load static %}

{% block title %}AgroPlan{% endblock %}

{% block content %}
<div class="text-center">
    <!-- Logo -->
    <img src="{% static 'assets/img/logo.png' %}" alt="Logo CicloAgricola" class="mx-auto w-1/4">

    <!-- Slogan debajo del logo -->
     <h2 class="mt-4 text-2xl font-semibold text-[var(--primary)] italic">
        Planificacion de ciclos Agricolas
    </h2>
    <!-- Imagen  -->
    <img src="{% static 'img_agricola/agricola.jpg' %}" alt="Agricola" 
    class="mx-auto my-6 w-2/3 rounded shadow">

</div>

{% endblock %}
